<?xml version="1.0" encoding="UTF-8" ?>
<!-- XML 이란? 마크업 이용한 데이터 저장(설정)/전달(매핑)/교환(API) 마크업언어 -->
<!-- HTML : 마크업 이용한 웹페이지 마크업언어 -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- XML 파일내 mybatis 라이브러리 설정 -->

<mapper namespace="example.실습.실습5.BookXmlMapper">


    <!-- 1. 책 테이블에 price 컬럼 추가 -->
    <update id="alter1">
        ALTER TABLE books ADD COLUMN price INT;
    </update>

    <!-- 2. title 필드를 longtext 로 변경 -->
    <update id="alter2">
        ALTER TABLE books MODIFY COLUMN title LONGTEXT;
    </update>

    <!-- 3. 평균 재고보다 많은 재고 도서 조회 -->
    <select id="query1" resultType="example.실습.실습5.BookDto">
        SELECT *
        FROM books
        WHERE stock > (SELECT AVG(stock) FROM books);
    </select>

    <!-- 4. 가장 많이 대출된 도서 조회 -->
    <select id="query2" resultType="example.실습.실습5.BookDto">
        SELECT b.id, b.title, b.stock, b.price
        FROM books b
        WHERE b.id =
        (SELECT book_id FROM rentals GROUP BY book_id ORDER BY COUNT(*) DESC LIMIT 1 );
    </select>


</mapper>